<div class="cs-grid">
  <ion-menu side="end" content-id="main-content" class="my-custom-menu">
    <ion-header class="cg-header--container">
      <div class="cg-header--profile__border">
        <ion-icon class="cg-header--profile__icon" name="cg-profile"></ion-icon>
      </div>
      <div class="cg-header--profile__userName">
        <ion-label>Username#4321</ion-label>
        <ion-icon name="cg-copy" slot="end"></ion-icon>
      </div>
    </ion-header>
    <ion-content color="primary">
      <ion-list>
        <ion-item color="primary">
          <ion-icon name="cg-friends" slot="start"></ion-icon>
          <ion-label>Friends</ion-label>
        </ion-item>
        <ion-item color="primary">
          <ion-icon name="cg-notification" slot="start"></ion-icon>
          <ion-label>Notifications</ion-label>
        </ion-item>
        <ion-item color="primary">
          <ion-icon name="cg-shop" slot="start"></ion-icon>
          <ion-label>Shop</ion-label>
        </ion-item>
        <ion-item color="primary">
          <ion-icon name="cg-inventory" slot="start"></ion-icon>
          <ion-label>Inventory</ion-label>
        </ion-item>
        <ion-item color="primary">
          <ion-icon name="cg-achivement" slot="start"></ion-icon>
          <ion-label>Achievements</ion-label>
        </ion-item>
        <ion-item color="primary">
          <ion-icon name="cg-statistic" slot="start"></ion-icon>
          <ion-label>Statistics</ion-label>
        </ion-item>
        <ion-item color="primary">
          <ion-icon name="cg-settings" slot="start"></ion-icon>
          <ion-label>Settings</ion-label>
        </ion-item>
      </ion-list>
      <div class="cg-header--google-container">
        <ion-button color="secondary" class="cg-header--google-button">Google Button</ion-button>
      </div>
    </ion-content>
  </ion-menu>

  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar class="my-custom-toolbar">
        <ion-buttons slot="end">
          <ion-menu-button color="success"></ion-menu-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
  </div>
</div>
